header {
  text-align: center;
  font-size: 25px;
}

#truth {
  font-size: 20px;
  font-family: cursive;
}
h1 {
  font-size: 18px;
  font-family: serif;
  text-align: center;
}
p {
  font-size: 12px;
  font-family: sans-serif;
}
#answer {
  font-style: italic;
}
div {
  border-color: black;
}
