header {
  text-align: center;
  font-size: 30px;
}
#bg {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 0.4;
}
#truth {
  font-size: 25px;
  font-family: cursive;
}
h1 {
  font-size: 20px;
  font-family: serif;
  text-align: center;
}
h2 {
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 550;
  text-align: center;
}
p {
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 250;
  text-align: center;
}
.answer {
  font-style: italic;
}
div {
  width: 50%;
  border: 3px ridge black;
  margin: 10px auto;
  padding: 10px;

}
.detail {
  position: relative;
}
img {
  padding-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.red {
  color: red;
  font-weight: 150%;
}
