* {
  font-family: garamond;
  font-size: 15;
}
header {
  text-align: center;
  font-size: 30px;
}
#bg {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 0.4;
}
#truth {
  font-size: 25px;
  font-family: cursive;
}
h1 {
  font-size: 20px;
  font-family: serif;
  text-align: center;
}
h2 {
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 550;
  text-align: center;
}
p {
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 250;
  text-align: center;
}
.answer {
  font-style: italic;
  margin: 1%;
}
div {
  width: 50%;
  border: 3px ridge black;
  margin: 10px auto;
  padding: 10px;

}
.detail {
  position: float left;
}
img {
  padding-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.red {
  color: red;
  font-weight: 150%;
}
h3 {
  font-size: 22px;
  font-weight: 550;
}
aside {
  width: 18%;
  border: 2px inset grey;
  float: left;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 1% .5% 1% 2%;
  margin: 1%;
  position: relative;
}
.date {
  font-style: italic;
}
.role {
  font-weight: 75%;
}
ul li {
  list-style-type: disc;
  margin: 3%;
}
ol li {
  list-style-type: decimal;
  margin: 3%;
}
aside.right {
  float: right;
}
